body{

}
.body__container{
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.spb-header-test{
    width: 100%;
    height: 150px;
    background: green;
    opacity: 0.8;
}
.spb-main-content__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-top: 55px;
}
.spb-main-content__menu-block-img{
    width: 100%;
    height: 100%;
}
.spb-main-content.partners{
    outline: 1px solid red;
    height: 100%;
    width: 100%;
    align-items: flex-start;
 
}
.spb-main-content__menu-block{
    height:auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu{
    border: 1px solid #D5D6D9;
    height: auto;
    width: 357px;
    display: flex;
    flex-direction: column;
}
.menu__item{
    height: 60px;
    width: 100%;
    border-bottom:1px solid #D5D6D9;
}
.menu__item:last-child{
    border-bottom:none;
}
.spb-main-item-containe__img{
    width: auto;
    height: auto;
}
.pictureAndTexDiv{
    border: blue 1px solid;
    width: 1%;
    display: table;
}
.spb-main-item-container{
    height: auto;
    overflow: hidden;
}
.spb-main-content__content-block{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}